Repository shri3k/flickrbuzz: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-web-hooks, run-server-hooks

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: run-web-hooks
        name: Web pre-commit
        files: ^client/
        entry: bash -c 'cd client && pnpm run precommit run'
        language: system

      - id: run-server-hooks
        name: Server pre-commit
        files: ^server/
        entry: bash -c 'cd server && pnpm run precommit run'
        language: system

test: Add tests for home page
  client/package.json
  client/playwright.config.ts
  client/src/components/PhotoCard.tsx
  client/src/components/PhotoDialog.tsx
  client/src/components/Preview.tsx
  client/src/components/SearchBar.tsx
  client/tests/home.spec.ts
Due: run-web-hooks

test: Add unit test in server
  server/index.ts
  server/package.json
  server/routes.test.ts
  server/routes.ts
Due: run-server-hooks

fix: update toast error
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/Preview.tsx
  client/src/components/ui/sonner.tsx
  client/src/libs/api.ts
  client/src/libs/errors.ts
  client/src/routes/index.tsx
Due: run-web-hooks

test(server): Add item count test
  server/routes.test.ts
Due: run-server-hooks

fix: types
  client/src/components/Preview.tsx
Due: run-web-hooks

fix: Handle edge case
  client/src/libs/api.ts
Due: run-web-hooks

chore: update readme, docker file and finalize submission
  README.md
  client/README.md
  client/src/routeTree.gen.ts
  client/src/routes/demo/tanstack-query.tsx
  client/vite.config.ts
  compose.yml
  server/.dockerignore
  server/README.md
  server/index.ts
Due: run-web-hooks, run-server-hooks

Update readme
  README.md
Due: none

Update server readme
  server/README.md
Due: run-server-hooks

fix: styling issue on badge
  client/src/components/PhotoCard.tsx
Due: run-web-hooks

fix: badge ui and logic on initial page load
  client/src/components/PhotoCard.tsx
  client/src/routes/index.tsx
Due: run-web-hooks

chore: fix pre-commit
  .pre-commit-config.yaml
  client/src/components/PhotoCardSkeleton.tsx
Due: run-web-hooks

chore: cleanup and test pre-commit/pre-push
  .pre-commit-config.yaml
  client/.prettierignore
  client/src/logo.svg
Due: run-web-hooks

chore: better script to install prek/pre-commit
  README.md
  package.json
Due: none

fix: when no search is passed, page should not break
  client/src/components/PhotoCard.tsx
Due: run-web-hooks

chore: fix docker compose dev env
  client/Dockerfile.dev
  compose.yml
  server/Dockerfile.dev
Due: run-web-hooks, run-server-hooks

chore: cleanup
  client/.pre-commit-config.yaml
Due: run-web-hooks

Update readme
  client/README.md
Due: run-web-hooks

Update readme
  server/README.md
Due: run-server-hooks
